<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<div>wate to date:
<style>

.chart div {
font: 10px sans-serif;
background-color: steelblue;
text-align: right;
padding: 3px;
margin: 1px;
color: white;
}

</style>
<div class="chart">
<div style="width: 40px;"> cans 8</div>
<div style="width: 80px;"> composte 10</div>
<div style="width: 150px;">glass 15</div>
<div style="width: 160px;">paper 16</div>
<div style="width: 230px;">plastic 23</div>
<div style="width: 420px;">trash 42</div>
</div>
</div>
