<% content_for :title do %>About<% end %>
<h1>Awesomeness is Recycling</h1>
<p>
To recylce please register
<%= link_to('Register', '/users/sign_up') %>

To be inspired please<%= link_to(' visit ', 'http://www.google.com/search?q=plastic+ocean&tbm=isch&tbo=u&source=univ&sa=X&ei=7J38VMn8HKTlsAT9qoKQAQ&ved=0CB4QsAQ&biw=1440&bih=761') %>.
</p>
